#canvas{
	display: block;
	position: absolute;
	z-index: 0;
}
#canvas_Bg{
	border: 2px solid black;
}
#geek, #obstacle, #score, #lives, #bowtie, #poof{
	display:block;
	position: absolute;
	top: 0;
	z-index: 1;
	margin-top:10px;

}
	
